{% extends 'forum/base.html' %}
{% load static %}
{% block content%}
<section class="posts">
        <div class="container">
            {% include 'forum/post.html' %}
            {% for comment in post.get_comments %}
                {% include 'forum/comment.html' %}
            {% endfor %}
        <section class="posts">
        <div class="container"><form action="./" method="post">
                <label for="comment">Комментарий</label>
                <input type="text" name="text" id="name" class="comment">


                <button  id="otpr">Опубликовать</button>
        </div>
        </div>
</section>
</section>
{% endblock %}
{% csrf_token %}