{% extends 'forum/base.html' %}
{% load static %}
{% block content%}
    <section class="posts">
        <div class="container">
            <div class="post">
                <h2 class="zagolovok">Факъю</h2>
                <p class="post_p">Правила: </br>
                    1.Не нарушайте действующее законодательство вашей страны, а так же, законодательство РФ. 
                </br>
                Больше правил нет.
                </p>
            </div>
        </div>
    </section>
{% endblock %}