{% load static %}
<nav>
        <div class="nav_div0">
                <h2 class="nav_h2">VForum</h2>
                <div class="navdiv">
                    <a id="home" class="nava" href="/">Главная</a>
                </div>
                <div class="navdiv">
                    <a id="new" class="nava" href="/latest/">Недавнее</a>
                </div>
                <div class="navdiv">
                    <a id="popular" class="nava" href="/popular/">Популярное</a>
                </div>
                <div class="navdiv">
                    <a id="faq" class="nava" href="/faq/">FAQ</a>
                </div>
                <div class="navdiv">
                    <a id="profile" class="nava" href="">Профиль</a>
                </div>
                {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout' %}?next={{request_path}}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{request_path}}">Login</a></li>
                {% endif %}
        </div>
</nav>