{% extends 'forum/base.html' %}
{% load static %}
{% block content%}
<section class="posts">
        <div class="container">
            {% include 'forum/posts/post.html' %}
            {% for comment in post.get_comments %}
                {% include 'forum/comments/comment.html' %}
            {% endfor %}
                <label for="comment">Комментарий</label>
                <input type="text" name="text" id="name" class="comment">
                <button  id="otpr">Опубликовать</button>
        </div>
</section>
{% endblock %}
{% csrf_token %}